:root {
  /* Basic UI */
  --mainBackground: #1d1d1d;
  --mainTextColor: #ffffff;
  --navigationBackground: #2d2d2dee;
  --gameCardBackground: #1d1d1ddd;
  --defaultUIBorder: #ffffff;
  --gameCardTextShadow: #00000000;
  --mainBackgroundImage: none;
  --mainFontFamily: Inter;

  /* Other UI Elements */
  --coalUIButton: #ffffff90;
  --coalUIButtonBorder: #ffffff90;

  --coalUIButtonHover: darkgray;

  --coalUIButtonActive: gray;
  --coalUIButtonBorderActive: #ffffff;

  --sidebarNavigationButtonHover: gray;
}