@import url("https://fonts.googleapis.com/css2?family=Fredoka");

:root {
  /* Basic UI */
  --mainBackground: #f5e9de;
  --mainTextColor: #5c5c5c;
  --navigationBackground: #f5e9deee;
  --gameCardBackground: #ffffffdd;
  --defaultUIBorder: #5c5c5c;
  --gameCardTextShadow: #00000000;
  --mainBackgroundImage: none;
  --mainFontFamily: Fredoka, Inter;

  /* Other UI Elements */
  --coalUIButton: #ff9393;
  --coalUIButtonBorder: #ff939390;
  
  --coalUIButtonHover: #ffccccdd;

  --coalUIButtonActive: #ffcccc;
  --coalUIButtonBorderActive: #ffcccc;

  --sidebarNavigationButtonHover: #ffcccc;
}