* {
  font-family: var(--mainFontFamily);
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  outline: none;
}

body {
  padding: 0;
  user-select: none;
  color: var(--mainTextColor);
  background-size: cover;
  background-color: var(--mainBackground);
  background-image: var(--mainBackgroundImage);
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.2s ease-in-out;
  overflow: hidden;
  background-position: center;
}

.navbtn[aria-selected=true],
.titleBarControls li[aria-selected=true] a {
  border: var(--coalUIButtonBorder) solid 1px !important;
  background: var(--sidebarNavigationButtonHover) !important;
}

.navbtn[aria-selected=true] span {
  display: inline;
}

.body {
  padding-top: 46px;
}

.body button,
#endtask {
  color: var(--mainTextColor);
  background: none;
  background-size: cover;
  border-radius: 4px;
  display: block;
  margin-bottom: 5px;
  transition: all 0.25s ease;
  border: none;
  cursor: pointer;
}

input {
  border: none;
}

.header {
  box-sizing: border-box;
  height: fit-content;
  background-color: var(--navigationBackground);
  -webkit-app-region: drag;
  position: fixed;
  width: 100vw;
  backdrop-filter: blur(10px);
  height: 46px;
  border: var(--defaultUIBorder) solid 1px;
}

.sidebar {
  box-sizing: border-box;
  width: 20% !important;
  width: fit-content;
  float: left;
  transition: none;
  border: var(--defaultUIBorder) solid;
  border-width: 0px 0px 1px 1px;
  backdrop-filter: blur(25px);
}

li {
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbtn i {
  pointer-events: none;
  display: inline-block;
}

.navbtn span {
  pointer-events: none;
  display: none;
}

li a,
.navbtn {
  display: block;
  color: var(--mainTextColor);
  text-align: center;
  padding: 8px;
  margin: 3.5px;
  border-radius: 5px;
  min-width: 20px;
  text-decoration: none;
  -webkit-app-region: no-drag;
  font-weight: bold;
  transition: all 0.25s ease;
  float: left;
  cursor: pointer;
  border: #1d1d1d00 solid 1px;
}

li a:hover,
.navbtn:hover {
  background-color: var(--sidebarNavigationButtonHover);
  transition: all 0.25s ease;
  border: var(--coalUIButtonBorder) solid 1px;
}

.sidebar2 {
  box-sizing: border-box;
  padding: 10px;
  width: fit-content;
  float: right;
  width: 80% !important;
  height: calc(100vh - 46px);
  transition: none;
  border: var(--defaultUIBorder) solid;
  border-width: 0px 1px 1px 0px;
  backdrop-filter: blur(25px);
}

.gamelist {
  backdrop-filter: blur(10px);
  background: var(--navigationBackground);
  box-sizing: border-box;
  padding: 5px;
  overflow: auto;
  height: calc(100vh - 67px);
  transition: none;
  margin: 10px;
  box-sizing: border-box;
  border: var(--defaultUIBorder) solid 1px;
  border-radius: 5px;
  margin-right: 0px;
}

.gamelist button,
#endtask,
#gameextra button {
  width: 100%;
  padding: 5px;
  text-align: left;
  font-weight: bold;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: #00000000 solid 1px;
}

#gameextra button:last-child {
  margin-bottom: 0;
}

.gamelist a {
  text-decoration: none;
}

.gamelist button:hover,
#endtask:hover,
#gameextra button:hover {
  background-color: var(--sidebarNavigationButtonHover);
  border: var(--coalUIButtonBorder) solid 1px;
}

.gamedetails {
  backdrop-filter: blur(10px);
  background: var(--gameCardBackground);
  border: var(--defaultUIBorder) solid 1px;
  padding: 7.5px;
  border-radius: 5px;
  box-sizing: border-box;
}

#options .gamedetails {
  margin-bottom: 10px;
}

#options .gamedetails:last-child {
  margin-bottom: 0px;
}

#gamefeed,
#previewgamefeed {
  width: 100%;
  backdrop-filter: blur(10px);
  border: var(--defaultUIBorder) solid 1px !important;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  background: var(--gameCardBackground);
  height: calc(100vh - 204px);
  margin-top: 5px;
  animation-name: zoomIn;
  animation-duration: 0.25s;
  animation-fill-mode: both;
}

.STOREGAME {
  width: 100%;
  box-sizing: border-box !important;
  height: 130px;
  background-size: cover;
  text-shadow: 2px 2px 10px var(--gameCardTextShadow);
  background-color: var(--gameCardBackground);
  border-radius: 10px;
  margin-top: 7.5px;
  float: left;
  transition: all 0.25s ease;
  animation: fadein .25s;
  font-size: 15px;
  background-position: center;
}

.STOREGAME:hover {
  transition: all 0.25s ease;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

#notmygames {
  margin: 0;
}

.playbutton {
  font-size: 17.5px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: black !important;
  border: #2ae42a solid 1px !important;
  background: #16c716 !important;
  margin-bottom: 3px !important;
}

.playbutton:hover {
  border: #16c716 solid 1px !important;
  background: #2ae42a !important;
}

#gameplay {
  width: calc(100% - 50px);
}

.deletebutton {
  font-size: 17.5px;
  padding: 10px;
  color: white !important;
  text-decoration: none;
  font-weight: bold;
  border: #ff6465 solid 1px !important;
  color: black !important;
  width: 45px;
  background: #EA5455 !important;
  margin-bottom: 3px !important;
}

.deletebutton:hover {
  background: #ff6465 !important;
  border: #EA5455 solid 1px !important;
}

.downloads {
  z-index: 2;
  right: 0;
  position: fixed;
  background-color: var(--gameCardBackground);
  backdrop-filter: blur(10px);
  width: calc(100vw - 32px - 20vw);
  height: calc(100vh - 79px);
  padding: 5px;
  animation-name: slideInDown;
  animation-duration: 0.25s;
  animation-fill-mode: both;
  overflow: scroll;
  border: var(--defaultUIBorder) solid;
  border-width: 0px 1px 1px 0px;
  margin: 10px;
  border-radius: 5px;
  border: var(--defaultUIBorder) solid 1px;
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.downloadinfo {
  border: var(--defaultUIBorder) solid 1px;
  border-width: 1px 0px 1px 0px;
  padding: 5px;
  box-sizing: border-box;
}

.downloadinfo h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.downloadinfo p {
  opacity: 0.75;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: #4d4d4d90;
  }

  100% {
    background-color: #5d5d5d90;
  }
}

.progress {
  width: 100%;
  background: var(--mainBackground);
  border-radius: 5px;
  height: 15px;
}

.progress::-webkit-progress-bar {
  background: var(--mainBackground);
  border-radius: 5px;
}

.progress::-webkit-progress-value {
  background: var(--mainTextColor);
  border-radius: 5px;
}

.input,
.button,
.textarea {
  padding: 7.5px;
  margin-bottom: 10px;
  border-radius: 4px;
  width: 100%;
  background: var(--coalUIButton) !important;
  color: var(--mainTextColor);
  transition: all 0.5s ease;
  resize: vertical;
  box-sizing: border-box;
  border: var(--coalUIButtonBorder) solid 1px !important;
  outline: none;
}

.input:hover,
.button:hover,
.textarea:hover {
  background: var(--coalUIButtonHover) !important;
  transition: all 0.5s ease;
  border: var(--coalUIButtonBorder) solid 1px !important;
}

.input:active,
.button:active,
.textarea:active {
  background: var(--coalUIButtonActive) !important;
  transition: all 0.5s ease;
  border: var(--coalUIButtonBorderActive) solid 1px !important;
}

#player {
  height: calc(100vh - 45px) !important;
  backdrop-filter: blur(25px);
}

hr {
  margin-bottom: 13px;
  border: var(--defaultUIBorder) solid 1px;
  border-radius: 5px;
  margin-top: 13px;
}

.gamecard {
  background-color: var(--gameCardBackground);
  height: 100%;
  backdrop-filter: blur(10px);
  overflow: hidden;
  box-sizing: border-box;
  padding: 15px;
  text-align: left;
  border-radius: 5px;
  border: var(--defaultUIBorder) solid 1px;
}

.gamecard p {
  opacity: 0.75;
}

@keyframes blinker {
  50% {
    background-color: #80808050;
  }
}

.notifytask {
  animation: blinker 1s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 2s linear infinite;
}

.playeroverlay {
  z-index: 1;
  right: 0;
  position: fixed;
  animation-name: slideInDown;
  animation-duration: 0.25s;
  animation-fill-mode: both;
}

#gameplay,
#contextmenu {
  display: inline-block;
}

#gameextra {
  backdrop-filter: blur(10px);
  border: var(--defaultUIBorder) solid 1px !important;
  border-radius: 5px;
  background: var(--gameCardBackground);
  margin: 4.5px;
  box-sizing: border-box;
  width: fit-content;
  padding: 5px;
  right: 0;
  position: absolute;
  z-index: 1;
  margin-right: 12px;
  animation-name: zoomIn;
  animation-duration: 0.25s;
  animation-fill-mode: both;
}

webview {
  border-left: var(--defaultUIBorder) solid 1px;
  border-right: var(--defaultUIBorder) solid 1px;
  border-bottom: var(--defaultUIBorder) solid 1px;
}

.gamepage {
  padding: 10px;
  border-left: var(--defaultUIBorder) solid 1px;
  border-right: var(--defaultUIBorder) solid 1px;
  border-bottom: var(--defaultUIBorder) solid 1px;
  height: calc(100vh - 44px);
  box-sizing: border-box;
  backdrop-filter: blur(25px);
}

#detailbtn {
  display: none !important;
}

#downloaddetails {
  margin-top: 7.5px;
}

summary h2 {
  display: inline;
}

#achievementbanner {
  display: none;
  position: absolute;
  z-index: 1;
  margin: 10px;
  width: calc(100vw - 20px);
  box-sizing: border-box;
  background: var(--gameCardBackground);
  border: var(--defaultUIBorder) solid 1px;
  padding: 7.5px;
  border-radius: 5px;
  animation-name: slideDown;
  animation-duration: 0.25s;
  animation-fill-mode: both;
  backdrop-filter: blur(10px);
}