* {
  font-family: var(--mainFontFamily);
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  user-select: none;
  color: var(--mainTextColor);
  background-size: cover;
  background-color: var(--mainBackground);
  background-image: var(--mainBackgroundImage);
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.2s ease-in-out;
}

.body {
  padding-top: 44px;
}

.body button, #endtask {
  color: var(--mainTextColor);
  background: none;
  background-size: cover;
  border-radius: 7.5px;
  display: block;
  margin-bottom: 5px;
  transition: all 0.25s ease;
  border: none;
}

input {
  border: none;
}

.header {
  box-sizing: border-box;
  height: fit-content;
  background-color: var(--navigationBackground);
  -webkit-app-region: drag;
  position: fixed;
  width: 100vw;
  backdrop-filter: blur(10px);
  height: 45px;
  border-top: var(--defaultUIBorder) solid 1px;
  border-left: var(--defaultUIBorder) solid 1px;
  border-right: var(--defaultUIBorder) solid 1px;
}

.sidebar {
  box-sizing: border-box;
  width: 20% !important;
  width: fit-content;
  float: left;
  transition: none;
  border: var(--defaultUIBorder) solid;
  border-width: 0px 0px 1px 1px;
}

li {
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  color: var(--mainTextColor);
  text-align: center;
  padding: 7.5px;
  margin: 5px;
  border-radius: 7.5px;
  min-width: 20px;
  text-decoration: none;
  -webkit-app-region: no-drag;
  font-weight: bold;
  transition: all 0.25s ease;
}

li a:hover {
  background-color: var(--sidebarNavigationButtonHover);
  transition: all 0.25s ease;
}

.sidebar2 {
  box-sizing: border-box;
  padding: 10px;
  width: fit-content;
  float: right;
  width: 80% !important;
  height: calc(100vh - 44px);
  transition: none;
  border: var(--defaultUIBorder) solid;
  border-width: 0px 1px 1px 0px;
}

.gamelist {
  backdrop-filter: blur(10px);
  background: var(--navigationBackground);
  box-sizing: border-box;
  padding: 5px;
  overflow: auto;
  height: calc(100vh - 45px);
  transition: none;
}

.gamelist button, #endtask, #gameextra button {
  width: 100%;
  padding: 5px;
  text-align: left;
  font-weight: bold;
}

#gameextra button:last-child {
  margin-bottom: 0;
}

.gamelist a {
  text-decoration: none;
}

.gamelist button:hover, #endtask:hover, #gameextra button:hover {
  background-color: var(--sidebarNavigationButtonHover);
}

.gamedetails {
  backdrop-filter: blur(10px);
  background: var(--gameCardBackground);
  border: var(--defaultUIBorder) solid 1px;
  padding: 5px;
  border-radius: 7.5px;
  box-sizing: border-box;
}

#gamefeed {
  width: 100%;
  backdrop-filter: blur(10px);
  border: var(--defaultUIBorder) solid 1px !important;
  border-radius: 7.5px;
  box-sizing: border-box;
  border: none;
  background: var(--gameCardBackground);
  height: calc(100vh - 194px);
  margin-top: 5px;
  animation-name: zoomIn;
  animation-duration: 0.25s;
  animation-fill-mode: both;
}

.STOREGAME {
  width: 240px;
  box-sizing: border-box !important;
  height: 240px;
  background-size: cover;
  text-shadow: 2px 2px 10px var(--gameCardTextShadow);
  justify-content: center;
  text-align: center;
  background-color: var(--gameCardBackground);
  border: var(--defaultUIBorder) solid 1px;
  border-radius: 7.5px;
  margin: 7.5px !important;
  float: left;
  transition: all 0.25s ease;
  animation: skeleton-loading 1s linear infinite alternate;
  font-size: 15px;
}

.STOREGAME:hover {
  transition: all 0.25s ease;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

#notmygames {
  margin: 0;
}

.playbutton {
  background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%) !important;
  font-size: 17.5px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 7.5px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border: #49C628 solid 1px !important;
  color: black !important;
}

.playbutton:hover {
  background-image: linear-gradient(135deg, #49C628 10%, #49C628 100%) !important;
}

#gameplay {
  width: calc(100% - 50px);
}

.deletebutton {
  background-image: linear-gradient(135deg, #FEB692 10%, #EA5455 100%) !important;
  font-size: 17.5px;
  padding: 10px;
  color: white !important;
  text-decoration: none;
  font-weight: bold;
  border: #EA5455 solid 1px !important;
  color: black !important;
  width: 45px;
}

.deletebutton:hover {
  background-image: linear-gradient(135deg, #EA5455 10%, #EA5455 100%) !important;
}

.downloads {
  z-index: 2;
  right: 0;
  position: fixed;
  margin-top: 45px;
  background-color: var(--navigationBackground);
  backdrop-filter: blur(10px);
  width: 20%;
  height: calc(100vh - 56px);
  padding: 5px;
  animation-name: slideInDown;
  animation-duration: 0.25s;
  animation-fill-mode: both;
  overflow: scroll;
  border: var(--defaultUIBorder) solid;
  border-width: 0px 1px 1px 0px;
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.downloadinfo {
  border: var(--defaultUIBorder) solid 1px;
  border-width: 1px 0px 1px 0px;
  padding: 5px;
  box-sizing: border-box;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: #4d4d4d90;
  }

  100% {
    background-color: #5d5d5d90;
  }
}

nav {
  border-radius: 5px 5px 0px 0px;
}

.progress {
  width: 100%;
  background: var(--mainBackground);
  border-radius: 7.5px;
  height: 15px;
}

.progress::-webkit-progress-bar {
  background: var(--mainBackground);
  border-radius: 7.5px;
}

.progress::-webkit-progress-value {
  background: var(--mainTextColor);
  border-radius: 7.5px;
}

.input, .button, .textarea {
  padding: 7.5px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  background: var(--coalUIButton) !important;
  color: var(--mainTextColor);
  transition: all 0.5s ease;
  resize: vertical;
  box-sizing: border-box;
  border: var(--coalUIButtonBorder) solid 1px !important;
  outline: none;
}

.input:hover, .button:hover, .textarea:hover {
  background: var(--coalUIButtonHover) !important;
  transition: all 0.5s ease;
  border: var(--coalUIButtonBorder) solid 1px !important;
}

.input:active, .button:active, .textarea:active {
  background: var(--coalUIButtonActive) !important;
  transition: all 0.5s ease;
  border: var(--coalUIButtonBorderActive) solid 1px !important;
}

#player {
  height: calc(100vh - 45px) !important;
}

hr {
  margin-bottom: 13px;
  border: var(--defaultUIBorder) solid 1px;
  border-radius: 7.5px;
  margin-top: 13px;
}

.gamecard2 {
  background-color: var(--gameCardBackground);
  height: 32.4%;
  backdrop-filter: blur(10px);
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;
  text-align: left;
  border-radius: 5px;
}

.gamecard1:hover {
  opacity: 1;
  transition: all 0.25s ease;
}

.gamecard1 p {
  background-color: var(--gameCardBackground);
  backdrop-filter: blur(10px);
  overflow: hidden;
  border-radius: 7.5px;
  padding: 5px;
}

.gamecard1 {
  height: 68%;
  padding: 5px;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.25s ease;
}

@keyframes blinker {
  50% {
    background-color: #80808050;
  }
}

.notifytask {
  animation: blinker 1s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 2s linear infinite;
}

.playeroverlay {
  z-index: 1;
  right: 0;
  position: fixed;
  animation-name: slideInDown;
  animation-duration: 0.25s;
  animation-fill-mode: both;
}

#gameplay, #contextmenu {
  display: inline-block;
}

#gameextra {
  backdrop-filter: blur(10px);
  border: var(--defaultUIBorder) solid 1px !important;
  border-radius: 7.5px;
  background: var(--gameCardBackground);
  margin: 4.5px;
  box-sizing: border-box;
  width: fit-content;
  padding: 5px;
  right: 0;
  position: absolute;
  z-index: 1;
  margin-right: 12px;
  animation-name: zoomIn;
  animation-duration: 0.25s;
  animation-fill-mode: both;
}