* {
    font-family: inter;
    padding:0;
    margin:0;
}
body {
    padding: 0;
    user-select: none;
    color:white;
    background: #1d1d1d;
    background-image: url('memeforestbanner.jpg');
    background-size: cover;
}
.body button {
    color: white;
    background: none;
    background-size: cover;
    border-radius: 5px;
    display: block;
    margin-bottom: 5px;
    transition: all 0.5s ease;
}
input {
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}
input:hover {
    box-shadow: none;
}
.body button {
    border: none;
}
.header {
    height: fit-content;
    background-size: 100% 100%;
    background-color: #2d2d2d;
}
.sidebar {
  box-sizing: border-box;
  padding: 5px;
  width: 20% !important;
  width: fit-content;
  float: left;
}
li {
  float: left;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 7.5px;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
}
li a:hover {
  background-color: #3d3d3d;
}
.searchbox {
    padding: 8.5px;
    box-shadow: none;
    margin: 5px;
    width: 300px;
    border-radius: 5px;
    text-align: center;
    background: #4d4d4d;
    color:white;
    transition: all 0.5s ease;
    border: #5d5d5d solid 1px;
    float: right;
}
.sidebar2 {
  box-sizing: border-box;
  padding: 5px;
  width: fit-content;
  float: right;
  width: 80%!important;
  height: 100%;
}
.gamelist {
    backdrop-filter: blur(10px);
    background: #1d1d1ddd;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
}
.gamedetails {
    backdrop-filter: blur(10px);
    background: #1d1d1ddd;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
}
#gamefeed {
    width: 100%;
    backdrop-filter: blur(10px);
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    background: #1d1d1ddd;
    height: 500px;
    margin-top: 5px;
}
.STOREGAME {
    width: 250px;
    height: 250px;
    float:left;
    background-size: cover;
    text-shadow: 2px 2px 10px #000000;
	border: #1d1d1dab solid 2px;
    padding: 5px;
    margin: 5px !important;
    justify-content: center;
    text-align: center;
    background-color: #1d1d1dab;
    border: #5d5d5d solid 1px;
    border-radius: 5PX;
    margin: 0;
	transition: all 0.5s ease;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.STOREGAME:hover {
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all 0.5s ease;
    cursor: pointer;
}
#notmygames {
    margin: 0;
}
.playbutton {
    background: green !important; 
    font-size: 17.5px;
    padding: 10px; 
    width: 100%;
    color: white !important;
    text-decoration: none;
    font-weight: bold;
}
.playbutton:hover {
  background: lime !important; 
  color: black !important;
}